Repository CardiacModelling/ap-nimbus: changes, and which Jenkins stages are due for each by the changed paths.
All: Build app-manager, Build client-direct, Build datastore, Detect config change

Path conditions:
  Build app-manager: any of: app-manager/**
  Build client-direct: any of: client-direct/**
  Build datastore: any of: datastore/**
  Detect config change: (any of: deploy/o11n/k8s/microk8s/**) or (any of: Jenkinsfile)

Update Dockerfile
  appredict-no-emulators/Dockerfile
Due: none

Update rebuild.sh
  appredict-no-emulators/rebuild.sh
Due: none

Delete rebuild.sh
  appredict-no-emulators/rebuild.sh
Due: none

update no-emulators version used
  appredict-with-emulators/Dockerfile
Due: none

Update Dockerfile
  app-manager/Dockerfile
Due: Build app-manager

Update Jenkinsfile
  Jenkinsfile
Due: Detect config change

Update common
  deploy/o11n/k8s/microk8s/admin/common
Due: Detect config change

Update docker-compose-minimum.yml
  deploy/docker-compose/docker-compose-minimum.yml
Due: none

Update docker-compose-all.yml
  deploy/docker-compose/docker-compose-all.yml
Due: none
