Repository CardiacModelling/ap-nimbus: changes, and which Jenkins stages are due for each by the changed paths.
All: Build app-manager, Build client-direct, Build datastore, Detect config change

Path conditions:
  Build app-manager: any of: app-manager/**
  Build client-direct: any of: client-direct/**
  Build datastore: any of: datastore/**
  Detect config change: (any of: deploy/o11n/k8s/microk8s/**) or (any of: Jenkinsfile)

Update Jenkinsfile
  Jenkinsfile
Due: Detect config change

Update common
  deploy/o11n/k8s/microk8s/admin/common
Due: Detect config change

Update run.sh
  deploy/o11n/k8s/microk8s/admin/run.sh
Due: Detect config change

Update docker-compose-minimum.yml
  deploy/docker-compose/docker-compose-minimum.yml
Due: none

Update docker-compose-all.yml
  deploy/docker-compose/docker-compose-all.yml
Due: none

started writing uploaded files
  app-manager/server.js
Due: Build app-manager

work with uploaded cellml
  app-manager/output
  app-manager/server.js
Due: Build app-manager

cleanup of uploaded cellml file after it's no longer needed
  app-manager/server.js
Due: Build app-manager

app-manager server can now deal with uploaded cellml files and PK data files
  app-manager/server.js
Due: Build app-manager

Delete output
  app-manager/output
Due: Build app-manager

added pkpd_results call to api
  app-manager/convert.sh
  app-manager/server.js
Due: Build app-manager

dealing with multi column pkpd_results
  app-manager/convert.sh
Due: Build app-manager

no unneeded timeout
  app-manager/server.js
Due: Build app-manager

added received cleanup method
  app-manager/server.js
Due: Build app-manager

added delete of run folder and wait before deleting results folder
  app-manager/server.js
Due: Build app-manager

added result for received
  app-manager/server.js
Due: Build app-manager

added received to the message about valid commands
  app-manager/server.js
Due: Build app-manager

no longer using Jenkins
  Jenkinsfile
Due: Detect config change

client-direct has moved to it's own repository, linked as sub-module
  .gitmodules
Due: none

started updating dcoumentation to explain new client-direct
  README.md
  docs/RtD/activity-overview/client-direct/index.rst
  docs/RtD/activity-overview/deploy/index.rst
  docs/RtD/activity-overview/index.rst
  docs/RtD/installation/deployment/index.rst
  docs/RtD/security/index.rst
  docs/RtD/troubleshooting/client-direct/index.rst
  docs/RtD/troubleshooting/index.rst
Due: none

update docs
  docs/RtD/activity-overview/app-manager/index.rst
  docs/RtD/activity-overview/appredict-chaste-libs/index.rst
  docs/RtD/activity-overview/appredict-no-emulators/index.rst
  docs/RtD/activity-overview/appredict-with-emulators/index.rst
  docs/RtD/activity-overview/client-direct/index.rst
  docs/RtD/activity-overview/datastore/index.rst
  docs/RtD/developer/container/index.rst
  docs/RtD/developer/index.rst
  docs/RtD/developer/networking-persistence/index.rst
  docs/RtD/developer/non-container/index.rst
  docs/RtD/index.rst
  docs/RtD/installation/deployment/index.rst
  docs/RtD/running/app-manager/index.rst
  docs/RtD/running/client-direct/index.rst
  docs/RtD/security/index.rst
  docs/RtD/troubleshooting/troubleshooting-client-direct/index.rst
Due: none

Update index.rst
  docs/RtD/security/index.rst
Due: none

updated documentation
  docs/RtD/developer/backup/index.rst
  docs/RtD/developer/command-line/index.rst
  docs/RtD/developer/index.rst
  docs/RtD/developer/networking-persistence/index.rst
  docs/RtD/installation/deployment/index.rst
Due: none

updated docs
  docs/RtD/running/client-direct/index.rst
Due: none

Update package-lock.json
  azure-durable-functions/durable-functions/example-2/package-lock.json
Due: none

durable functions as submodule
  .gitmodules
Due: none

moved sata store to own repo
  .gitmodules
  datastore/.dockerignore
  datastore/.gitignore
  datastore/Jenkinsfile
  datastore/README.md
  datastore/deps/README
  datastore/deps/wait
  datastore/docker/Dockerfile
  datastore/docker/docker-compose.yml
  datastore/example.env
  datastore/index.js
  datastore/package-lock.json
  datastore/package.json
  datastore/routes/routes.js
Due: Build datastore
