Repository CardiacModelling/ap-nimbus: changes, and which Jenkins stages are due for each by the changed paths.
All: Build app-manager, Build client-direct, Build datastore, Detect config change

Path conditions:
  Build app-manager: any of: app-manager/**
  Build client-direct: any of: client-direct/**
  Build datastore: any of: datastore/**
  Detect config change: (any of: deploy/o11n/k8s/microk8s/**) or (any of: Jenkinsfile)

appredict-chaste-libs : Add link to `chaste-docker`.
  appredict-chaste-libs/README.md
Due: none

appredict-no-emulators : Using optimised in for dynamic cellml
  appredict-no-emulators/Dockerfile
Due: none

appredict-with-emulators : INaL now included in lookup tables
  appredict-with-emulators/emulators_bin_gen.sh
Due: none

ap-nimbus : Add preliminary docs
  docs/RtD/.gitignore
  docs/RtD/Makefile
  docs/RtD/_static/images/CATALINA_HOME-ls-l.png
  docs/RtD/_static/images/Option_A.png
  docs/RtD/_static/images/Option_B.png
  docs/RtD/_static/images/app-manager_overview.png
  docs/RtD/_static/images/banner.png
  docs/RtD/_static/images/ccgc.png
  docs/RtD/_static/images/client-direct.png
  docs/RtD/_static/images/client.png
  docs/RtD/_static/images/deployment_diagram.png
  docs/RtD/_static/images/flag.png
  docs/RtD/_static/images/info.png
  docs/RtD/_static/images/meanpic50.png
  docs/RtD/_static/images/update_cycle.png
  docs/RtD/_static/images/update_dev.png
  docs/RtD/_static/style.css
  docs/RtD/conf.py
  docs/RtD/global.rst
  docs/RtD/index.rst
Due: none

docs : Preliminary build/run instructions
  docs/RtD/index.rst
  docs/RtD/installation/building/index.rst
  docs/RtD/installation/deployment/index.rst
  docs/RtD/installation/index.rst
Due: none

docs : Clarify ambiguity
  docs/RtD/installation/building/index.rst
  docs/RtD/installation/deployment/index.rst
Due: none

docs : Couple more references
  README.md
  docs/RtD/index.rst
Due: none

docs : Expand build instructions.
  docs/RtD/installation/building/index.rst
Due: none

appredict-with-emulators : Name change of ohara_rudy_2011 to ohara_rudy_2011_endo.
  appredict-with-emulators/emulators_bin_gen.sh
Due: none

appredict-no-emulators : Update to latest Chaste/ApPredict and make ApPredict dir world-writable
  appredict-no-emulators/Dockerfile
Due: none

appredict-with-emulators : Update to appredict-no-emulators v0.0.5
  appredict-with-emulators/Dockerfile
Due: none

app-manager : Include reference to /proc/sys/fs/inotify/max_user_watches
  app-manager/README.md
Due: Build app-manager

client-direct : Add ability to supply IK1, Ito and INaL spreads.
  client-direct/README.md
  client-direct/package-lock.json
  client-direct/src/app/input-form/input-form.component.html
  client-direct/src/app/input-form/input-form.component.ts
Due: Build client-direct

app-manager : Markdown sublisting
  app-manager/README.md
Due: Build app-manager

client-direct : Markdown sublisting
  client-direct/README.md
Due: Build client-direct

docs : Add a couple of RtD illustrations.
  docs/RtD/_static/images/apnimbus-container-orchestration.png
  docs/RtD/_static/images/appredict-in-containers.png
  docs/RtD/global.rst
  docs/RtD/index.rst
Due: none

docs : Enhanced installation instructions.
  docs/RtD/developer/building/index.rst
  docs/RtD/developer/index.rst
  docs/RtD/global.rst
  docs/RtD/index.rst
  docs/RtD/installation/deployment/index.rst
  docs/RtD/installation/index.rst
  docs/RtD/running/index.rst
Due: none

docs : Expand the developer section.
  docs/RtD/developer/index.rst
  docs/RtD/developer/non-container/index.rst
  docs/RtD/global.rst
  docs/RtD/index.rst
  docs/RtD/installation/deployment/index.rst
  docs/RtD/installation/index.rst
  docs/RtD/security/index.rst
Due: none

docs : Add further documentation.
  app-manager/README.md
  app-manager/run_me.sh
  appredict-chaste-libs/README.md
  deploy/o11n/k8s/cluster/run.sh
  docs/RtD/developer/building/index.rst
  docs/RtD/developer/index.rst
  docs/RtD/developer/non-container/index.rst
  docs/RtD/global.rst
  docs/RtD/index.rst
  docs/RtD/installation/deployment/index.rst
  docs/RtD/installation/index.rst
  docs/RtD/running/index.rst
Due: Build app-manager

docs : Add further documentation (2# attempt!).
  docs/RtD/activity-overview/app-manager/index.rst
  docs/RtD/activity-overview/appredict-chaste-libs/index.rst
  docs/RtD/activity-overview/appredict-no-emulators/index.rst
  docs/RtD/activity-overview/appredict-with-emulators/index.rst
  docs/RtD/activity-overview/azure-durable-functions/index.rst
  docs/RtD/activity-overview/client-direct/index.rst
  docs/RtD/activity-overview/datastore/index.rst
  docs/RtD/activity-overview/deploy/index.rst
  docs/RtD/activity-overview/index.rst
  docs/RtD/developer/how-they-work/index.rst
  docs/RtD/developer/tagging/index.rst
  docs/RtD/running/app-manager/index.rst
  docs/RtD/troubleshooting/illegal-instruction/index.rst
  docs/RtD/troubleshooting/index.rst
Due: none

deploy : Reverse some unintended changes.
  app-manager/run_me.sh
  deploy/o11n/k8s/cluster/run.sh
Due: Build app-manager

docs : Further migration from README.md format.
  app-manager/README.md
  appredict-chaste-libs/README.md
  appredict-no-emulators/README.md
  appredict-with-emulators/README.md
  client-direct/README.md
  docs/RtD/activity-overview/app-manager/index.rst
  docs/RtD/activity-overview/appredict-chaste-libs/index.rst
  docs/RtD/activity-overview/appredict-no-emulators/index.rst
  docs/RtD/activity-overview/appredict-with-emulators/index.rst
  docs/RtD/activity-overview/client-direct/index.rst
  docs/RtD/developer/container/index.rst
  docs/RtD/developer/index.rst
  docs/RtD/developer/non-container/index.rst
  docs/RtD/installation/deployment/index.rst
  docs/RtD/running/app-manager/index.rst
  docs/RtD/running/appredict/index.rst
  docs/RtD/running/client-direct/index.rst
  docs/RtD/running/index.rst
  docs/RtD/troubleshooting/illegal-instruction/index.rst
Due: Build app-manager, Build client-direct

docs : Adjust grammar
  client-direct/README.md
Due: Build client-direct

docs : Adapt datastore (and add to durable functions)
  azure-durable-functions/README.md
  datastore/README.md
  docs/RtD/activity-overview/appredict-chaste-libs/index.rst
  docs/RtD/activity-overview/appredict-no-emulators/index.rst
  docs/RtD/activity-overview/appredict-with-emulators/index.rst
  docs/RtD/activity-overview/azure-durable-functions/index.rst
  docs/RtD/activity-overview/datastore/index.rst
  docs/RtD/developer/building/index.rst
  docs/RtD/developer/further-info/index.rst
  docs/RtD/developer/index.rst
  docs/RtD/global.rst
Due: Build datastore

appredict-no-emulators:0.0.6 and appredict-with-emulators:0.0.7
  appredict-no-emulators/Dockerfile
  appredict-with-emulators/Dockerfile
Due: none

azure-durable-functions : Incorrect json formatting in README.md
  azure-durable-functions/durable-functions/example-1/README.md
  azure-durable-functions/durable-functions/example-2/README.md
Due: none

azure-durable-functions : Note cgroup v2 issue.
  azure-durable-functions/durable-functions/example-1/README.md
  azure-durable-functions/durable-functions/example-2/README.md
Due: none

docs : Migrate hub.docker.com doco to here
  docs/RtD/running/app-manager/index.rst
  docs/RtD/running/appredict/index.rst
  docs/RtD/running/client-direct/index.rst
  docs/RtD/running/index.rst
  docs/RtD/running/orchestrated/index.rst
Due: none

app-manager : Add messages.txt conversion
  app-manager/convert.sh
  app-manager/server.js
Due: Build app-manager

docs: Change a couple of :file: annotations
  docs/RtD/developer/non-container/index.rst
  docs/RtD/running/app-manager/index.rst
  docs/RtD/running/appredict/index.rst
Due: none

Updated to python3
  appredict-chaste-libs/Dockerfile
Due: none

Update README.md
  appredict-chaste-libs/README.md
Due: none

Update Dockerfile
  appredict-chaste-libs/Dockerfile
Due: none

Update README.md
  appredict-no-emulators/README.md
Due: none

update to python3
  appredict-no-emulators/Dockerfile
Due: none

Update Dockerfile
  appredict-no-emulators/Dockerfile
Due: none

Update README.md
  appredict-with-emulators/README.md
Due: none

python3 compatible version
  appredict-with-emulators/Dockerfile
Due: none

Create rebuild.sh
  appredict-no-emulators/rebuild.sh
Due: none
